
body {
    /* "body" is the room where everything happens */
        height: 100%;
        margin: 30px;
        padding: 0;
        background-color: lightpink;
    }
    
      .home_img_scale {
    
        width: 20%; /* scales down img to */
      }


      .img_scale {

        width: 20%;

      }

canvas {
    display: block;
}
