
body {
    /* "body" is the room where everything happens */
        height: 100%;
        margin: 30px;
        padding: 0;
        background-color: lightpink;
    }
    
      .home_img_scale {
    
        width: 20%; /* scales down img to */
      }

      .img_scale {

        width: 50%;

      }

      .journal {

        max-width: 120ch;
      }

      .text_size {

        font-size: 19px;

      }

      .button-section a {
        
          display: block; /* stacks them vertically */
          
          width: fit-content; /* clickable only around the image */
          
      }



canvas {
    display: block;
}
