body {
  height: 100%;
  margin: 30px;
  padding: 0;
  background-color: lightpink;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;  /* left = title, right = menu */
  align-items: flex-start;
  padding: 20px;
  background-color: lightpink;
  z-index: 30;
}

.title-group {
  display: flex;
  flex-direction: column;  /* stack h1 + p vertically */
  margin-left: 45px;       /* nudges text left */
}

.menu {

  display: flex;

  flex-direction: row;

  gap: 20px;               /* space between buttons */

  margin-right: 50px;      /* distance from right edge */

  align-items: center;

}

.menu_img_scale {

  width: 300px; /* same size as index.html buttons */
  height: auto;
  margin-right: 50px;

}

.project_icons {

  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-left: 20px;
  width: 15%;
  gap: 35px;

}

.icon_scale {

  width: 250px;

}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
