html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center; 
  /* center horizontally */
  align-items: center;
  /* center vertically */

}
canvas {
  display: block;

}
